* {
    padding: 0%;
    margin: 0%;
}

.corpo_pagina {
    background-size: 100%;
    background-attachment: scroll;
    object-fit: cover;
}

.tela_login {
    padding-top: 15px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    border: none;
}

.campos_login {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#email,
#senha,
#submit {
    padding: 20px;
    border: none;
    border-radius: 15px;
    float: right;
    margin: 8px;
    cursor: pointer;
}

#submit:hover {
    background-color: black;
    color: #fff;
}

#checkbox {
    max-width: 80%;
    max-height: 80%;
    border-radius: 30px;
}

.botao_checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
    padding-top: 10px;
    padding-left: 0px;
}

input {
    margin: .8rem;
    padding-left: 10px;
}

.registre_agora {
    color: #fff;
}

a {
    color: rgb(6, 86, 233);
}